:root {
  --orangerColor-1: #ffe6cc;
  --orangerColor-2: #ffeddb;
  --orangerColor-3: #fff2e5;
  --orangerColor-4: #fffaf5;
  --redColor-1: #ff9999;
  --redColor-2: #ffb3b3;
  --redColor-3: #ffcccc;
  --redColor-4: #ffe5e5;
}